.pagetab {
	vertical-align: top;
	background: #F7F8FD url(../images/pagetab_bg.gif) repeat-x left top;
	padding-top: 0;
	padding-left: 20px;
	height: 22px;
}
.pagetab ul{display: inline;}


.pagetab li {
	list-style-type:none;
	position: relative;
	float: left;
	margin-left: -10px;
	display: inline;
	background: url(../images/pagetab_left.gif) no-repeat left top;
	padding: 0 0 0 15px;
	height: 20px;
	-moz-user-select: none;
}

.pagetab b {
	cursor: pointer;
	font-weight: normal;
	white-space: nowrap;
	color: #888;
	display: inline;
	float: left;
	background: url(../images/pagetab_right.gif) no-repeat right top;
	padding: 0px 15px 0 0;
	line-height: 17px;
	height: 20px;
}

.pagetab li.current {
	background: url(../images/pagetab_left_active.gif) no-repeat left top;
	z-index: 777;
}

.pagetab li.current b {
	background: url(../images/pagetab_right_active.gif) no-repeat right top;
	font-weight: bold;
	color: #123;
	line-height: 16px;
}
.pagetab .add{float: left;}


.pagetab .add img.imgPlus{
	width:12px;
	height:12px;
	cursor:pointer;
	margin-left: 10px;
	border-style : none ;
	margin-top:3px;
}

.pagetab .add img.imgDelete{
	cursor:pointer;
	width:12px;
	height:12px;
	margin-left: 10px;
	margin-top:3px;
	border-style : none ;
	
}



