<!DOCTYPE html>
<html>
	<head>
		<title>Online移动报表配置</title>
		<script type="text/javascript" src="plug-in/mutiLang/zh-cn.js"></script>
		<script type="text/javascript" src="plug-in/jquery/jquery-1.8.3.js"></script>
		<script type="text/javascript" src="plug-in/jquery/jquery.cookie.js"></script>
		<script type="text/javascript" src="plug-in/jquery-plugs/storage/jquery.storageapi.min.js"></script>
		<script type="text/javascript" src="plug-in/tools/dataformat.js"></script>
		<link id="easyuiTheme" rel="stylesheet" href="plug-in/easyui/themes/metrole/easyui.css" type="text/css"></link>
		<link id="easyuiTheme" rel="stylesheet" href="plug-in/easyui/themes/metrole/main.css" type="text/css"></link>
		<link id="easyuiTheme" rel="stylesheet" href="plug-in/easyui/themes/metrole/icon.css" type="text/css"></link>
		<link rel="stylesheet" type="text/css" href="plug-in/accordion/css/accordion.css">
		<link rel="stylesheet" type="text/css" href="plug-in/accordion/css/icons.css">
		<script type="text/javascript" src="plug-in/easyui/jquery.easyui.min.1.3.2.js"></script>
		<script type="text/javascript" src="plug-in/easyui/locale/zh-cn.js"></script>
		<script type="text/javascript" src="plug-in/tools/syUtil.js"></script>
		<script type="text/javascript" src="plug-in/easyui/extends/datagrid-scrollview.js"></script>
		<script type="text/javascript" src="plug-in/My97DatePicker/WdatePicker.js"></script>
		<link rel="stylesheet" href="plug-in/tools/css/metrole/common.css" type="text/css"></link>
		<link rel="stylesheet" href="plug-in/ace/css/font-awesome.css" type="text/css"></link>
		<script type="text/javascript" src="plug-in/lhgDialog/lhgdialog.min.js?skin=metrole"></script>
		<script type="text/javascript" src="plug-in/ace/js/bootstrap-tab.js"></script>
		<script type="text/javascript" src="plug-in/tools/curdtools_zh-cn.js"></script>
		<script type="text/javascript" src="plug-in/tools/easyuiextend.js"></script>
		<script type="text/javascript" src="plug-in/jquery-plugs/hftable/jquery-hftable.js"></script>
		<script type="text/javascript" src="plug-in/tools/json2.js"></script>
		<link rel="stylesheet" href="plug-in/Validform/css/metrole/style.css" type="text/css" />
		<link rel="stylesheet" href="plug-in/Validform/css/metrole/tablefrom.css" type="text/css" />
		<script type="text/javascript" src="plug-in/Validform/js/Validform_v5.3.1_min_zh-cn.js"></script>
		<script type="text/javascript" src="plug-in/Validform/js/Validform_Datatype_zh-cn.js"></script>
		<script type="text/javascript" src="plug-in/Validform/js/datatype_zh-cn.js"></script>
		<SCRIPT type="text/javascript" src="plug-in/Validform/plugin/passwordStrength/passwordStrength-min.js"></SCRIPT>
		<script src="content/cgdynamgraph/cgDynamGraphConfigHead.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function() {
				jQuery('#tt').tabs({
					onSelect: function(title) {
						jQuery('#tt .panel-body').css('width', 'auto');
					}
				});
				jQuery('#ttp').tabs({
					onSelect: function(title) {
						jQuery('#ttp .panel-body').css('width', 'auto');
					}
				});
			});
			//初始化下标
			function resetTrNum(tableId) {
				jQuerytbody = jQuery("#" + tableId + "");
				jQuerytbody.find('>tr').each(function(i) {
					jQuery(':input, select,button,a', this).each(function() {
						var jQuerythis = jQuery(this),
						name = jQuerythis.attr('name'),
						id = jQuerythis.attr('id'),
						onclick_str = jQuerythis.attr('onclick'),
						val = jQuerythis.val();
						if (name != null) {
							if (name.indexOf("#index#") >= 0) {
								jQuerythis.attr("name", name.replace('#index#', i));
							} else {
								var s = name.indexOf("[");
								var e = name.indexOf("]");
								var new_name = name.substring(s + 1, e);
								jQuerythis.attr("name", name.replace(new_name, i));
							}
						}
						if (id != null) {
							if (id.indexOf("#index#") >= 0) {
								jQuerythis.attr("id", id.replace('#index#', i));
							} else {
								var s = id.indexOf("[");
								var e = id.indexOf("]");
								var new_id = id.substring(s + 1, e);
								jQuerythis.attr("id", id.replace(new_id, i));
							}
						}
						if (onclick_str != null) {
							if (onclick_str.indexOf("#index#") >= 0) {
								jQuerythis.attr("onclick", onclick_str.replace(/#index#/g, i));
							} else {}
						}
					});
				});
			}
			function decode(value, id) { //value传入值,id接受值
				var last = value.lastIndexOf("/");
				var filename = value.substring(last + 1, value.length);
				jQuery("#" + id).text(decodeURIComponent(filename));
			}
			
			jQuery(function() {
				jQuery("#formobj").Validform({
					tiptype: 1,
					btnSubmit: "#btn_sub",
					btnReset: "#btn_reset",
					ajaxPost: true,
					usePlugin: {
						passwordstrength: {
							minLen: 6,
							maxLen: 18,
							trigger: function(obj, error) {
								if (error) {
									obj.parent().next().find(".Validform_checktip").show();
									obj.find(".passwordStrength").hide();
								} else {
									jQuery(".passwordStrength").show();
									obj.parent().next().find(".Validform_checktip").hide();
								}
							}
						}
					},
					callback: function(data) {
						var win = frameElement.api.opener;
						if (data.success == true) {
							frameElement.api.close();
							win.tip(data.msg);
						} else {
							if (data.responseText == '' || data.responseText == undefined) {
								jQuery.messager.alert('错误', data.msg);
								jQuery.Hidemsg();
							} else {
								try {
									var emsg = data.responseText.substring(data.responseText.indexOf('错误描述'), data.responseText.indexOf('错误信息'));
									jQuery.messager.alert('错误', emsg);
									jQuery.Hidemsg();
								} catch(ex) {
									jQuery.messager.alert('错误', data.responseText + "");
									jQuery.Hidemsg();
								}
							}
							return false;
						}
						win.reloadTable();
					}
				});
			});
		</script>
	</head>
	<body style="overflow-x: hidden;">
		<form id="formobj" action="cgDynamGraphConfigHeadController.do?doUpdate" name="formobj" method="post">
			<input type="hidden" id="btn_sub" class="btn_sub" />
			<input id="id" name="id" type="hidden" value="$!{cgDynamGraphConfigHeadPage.id}" />
			<table cellpadding="0" cellspacing="1" class="formtable">
				<tr>
					<td align="right">
						<label class="Validform_label">编码:</label></td>
					<td class="value">
						<input id="code" name="code" type="text" style="width: 150px" class="inputxt" datatype="*" value='$!{cgDynamGraphConfigHeadPage.code}' />
						<span class="Validform_checktip"></span>
					</td>
					<td align="right">
						<label class="Validform_label">名称 :</label></td>
					<td class="value">
						<input id="name" name="name" type="text" style="width: 150px" class="inputxt" datatype="*" value='$!{cgDynamGraphConfigHeadPage.name}' />
						<span class="Validform_checktip"></span>
					</td>
					<td align="right">
						<label class="Validform_label">数据源 :</label></td>
					<td class="value">
						#selectTableTag("db_key","db_name","t_s_data_source","dbSource","$!{cgDynamGraphConfigHeadPage.dbSource}")
					</td>
				</tr>
				<tr>
					<td align="right">
						<label class="Validform_label">查询sql:</label></td>
					<td class="value" colspan="5">
						<textarea rows="5" cols="150" id="cgrSql" name="cgrSql" datatype="*">$!{cgDynamGraphConfigHeadPage.cgrSql}</textarea>
						<span class="Validform_checktip"></span>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;您可以键入“”作为一个参数，这里abc是参数的名称。例如：
							<br/>&nbsp;&nbsp;&nbsp;&nbsp;select broswer name,count(1) value, '#286FBB' color from t_s_log where id = ${abc} group by broswer。
							<br/>&nbsp;&nbsp;&nbsp;&nbsp;select broswer name,count(1) value, '#286FBB' color from t_s_log where id = '${abc}' group by broswer。（如果id字段为字符串类型）
							<br/>&nbsp;&nbsp;&nbsp;&nbsp;
							<font color="red">注：必要用 name,value,color 列。 name 为X轴数据,value 为Y轴数据,color为图表的颜色</font>
						</p>
					</td>
				</tr>
				<tr>
					<td align="right">
						<label class="Validform_label">描述:</label></td>
					<td class="value" colspan="5">
						<textarea rows="3" cols="150" id="content" name="content" datatype="*">$!{cgDynamGraphConfigHeadPage.content}</textarea>
						<span class="Validform_checktip"></span>
					</td>
				</tr>
				<tr>
					<td align="right">
						<label class="Validform_label">图表类型:</label></td>
					<td class="value">
						#selectDictTag("graphType","graphType","$!{cgDynamGraphConfigHeadPage.graphType}")
					</td>
					<td align="right">
						<label class="Validform_label">数据结构类型:</label></td>
					<td class="value" colspan="3">
						#selectDictTag("fieldtype","dataStructure","$!{cgDynamGraphConfigHeadPage.dataStructure}")
					</td>
				</tr>
			</table>
			<div style="width: auto; height: 200px;">
				<div style="width: 800px; height: 1px;"></div>
				<div id="ttp" tabPosition="top" border=flase style="margin:0px;padding:0px;overflow:hidden;width:auto;" class="easyui-tabs" fit="false">
					<div title="报表参数" href="cgDynamGraphConfigHeadController.do?cgDynamGraphConfigParamList_vm&id=$!{cgDynamGraphConfigHeadPage.id}" style="margin:0px;padding:0px;overflow:hidden;"></div>
				</div>
				<div id="tt" tabPosition="top" border=flase style="margin:0px;padding:0px;overflow:hidden;width:auto;" class="easyui-tabs" fit="false">
					<div title="动态报表配置明细" href="cgDynamGraphConfigHeadController.do?cgDynamGraphConfigItemList_vm&id=$!{cgDynamGraphConfigHeadPage.id}" style="margin:0px;padding:0px;overflow:hidden;"></div>
				</div>
			</div>
		</form>
		<!-- 添加 附表明细 模版 -->
		<table style="display: none">
			<tbody id="add_cgDynamGraphConfigItem_table_template">
				<tr>
					<td align="center">
						<input style="width: 20px;" type="checkbox" name="ck" /></td>
					<td align="left">
						<input name="cgDynamGraphConfigItemList[#index#].fieldName" maxlength="36" type="text" class="inputxt" style="width: 120px;" /></td>
					<td align="left">
						<input name="cgDynamGraphConfigItemList[#index#].orderNum" maxlength="10" type="text" class="inputxt" style="width: 30px;" /></td>
					<td align="left">
						<input name="cgDynamGraphConfigItemList[#index#].fieldTxt" maxlength="1000" type="text" class="inputxt" style="width: 120px;" /></td>
					<td align="left">
						#selectDictTag("fieldtype","cgDynamGraphConfigItemList[#index#].fieldType","")
					</td>
					<td align="left">
						<select id="isShow" name="cgDynamGraphConfigItemList[#index#].isShow" style="width: 60px;">
							<option value="Y">显示</option>
							<option value="N">隐藏</option>
						</select>
					</td>
					<td align="left">
						<input name="cgDynamGraphConfigItemList[#index#].fieldHref" maxlength="1000" type="text" class="inputxt" style="width: 120px;" />
					</td>
					<td align="left">
						#selectDictTag("searchmode","cgDynamGraphConfigItemList[#index#].SMode","")
					</td>
					<td align="left">
						<input name="cgDynamGraphConfigItemList[#index#].replaceVa" maxlength="36" type="text" class="inputxt" style="width: 120px;" /></td>
					<td align="left">
						<input name="cgDynamGraphConfigItemList[#index#].dictCode" maxlength="36" type="text" class="inputxt" style="width: 120px;" /></td>
					<td align="left">
						#selectDictTag("yesorno","cgDynamGraphConfigItemList[#index#].SFlag","")
					</td>
				</tr>
			</tbody>
		</table>
		<table style="display: none">
			<tbody id="add_cgDynamGraphConfigParam_table_template">
				<tr>
					<td align="center">
						<input style="width:20px;" type="checkbox" name="ck" /></td>
					<td align="left">
						<input name="cgDynamGraphConfigParamList[#index#].paramName" maxlength="32" type="text" class="inputxt" style="width:120px;" datatype="*" /></td>
					<td align="left">
						<input name="cgDynamGraphConfigParamList[#index#].paramDesc" maxlength="32" type="text" class="inputxt" style="width:120px;" /></td>
					<td align="left">
						<input name="cgDynamGraphConfigParamList[#index#].paramValue" maxlength="32" type="text" class="inputxt" style="width:120px;" /></td>
					<td align="left">
						<input name="cgDynamGraphConfigParamList[#index#].seq" maxlength="32" type="text" class="inputxt" style="width:120px;" /></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>