<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>
	<appender name="info"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<File>${catalina.base}/logs/jeecg.log</File>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${catalina.base}/logs/jeecg.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
	</appender>

	<appender name="error"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.base}/logs/jeecg_error.log</File>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{0} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${catalina.base}/logs/jeecg.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
	</appender>

	<logger name="java.sql" level="DEBUG" />
    <logger name="org.springframework" level="DEBUG" />
    <logger name="org.apache.cxf.jaxb" level="ERROR" />
    
	<root level="INFO">
        <appender-ref ref="CONSOLE" />
		<appender-ref ref="info" />
		<appender-ref ref="error" />
	</root>
	
	<!-- ${catalina.base} -->
</configuration>