/**
*增改form页 主表页布局样式
**/
.main-tab .tab-info {
    font-size: 14px;
    font-weight: bold;
   /*  background-color: rgba(66, 158, 186, 0.86); */
    margin: 0;
}
.main-tab{
 margin-top: 15px;
}
   
.tab-info {
    border-top: 1px solid #e5e5e5;
    background-color:#fff;
    /* background:-webkit-linear-gradient(left,#4eb5a0,#4eb5a0); */
    /* background-color:#4eb5a0; */
      /* background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ff0000), to(rgba(0, 0, 255, 0.5))); */
} 
.tab-info a{
	height:25px;
	line-height:25px;
	/* color:#fff; */
	color:#333;
}
.tab-info a:hover{
	cursor:default;
}
.tab-info a:hover{
	 text-decoration: none;
}
.tab-info > li{
  width:100px;
  padding-left:2px;
}
/* .tab-info li:hover{
	  background-color: rgb(141, 207, 194);
	  border-right:1px solid rgb(255, 255, 255);
} */
.tab-info {
    border-bottom: 0px solid #dddddd;
}
.tab-info {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.gradienta{
    width:300px;
    height:150px;
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ff0000), to(rgba(0, 0, 255, 0.5)));  
}
.conc-wrapper input:not([type='radio']){
width:157px;
}
.conc-wrapper select{
width:157px !important;
}
.col-xs-1{
white-space: nowrap;
text-align:center;
padding:0;
}
.con-wrapper .row > div {
	border-right:0;
	border-left:0;
}