.search-span{display:-moz-inline-box;display:inline-block;margin-bottom:2px;text-align:justify;}
.search-label{vertical-align:middle;display:-moz-inline-box;display:inline-block;width: 90px;text-align:right;text-overflow:ellipsis;-o-text-overflow:ellipsis; overflow: hidden;white-space:nowrap; }
.date-input{background:url('plug-in/ace/images/datetime.png') no-repeat scroll right center transparent;}
.toolbar-search{border-bottom: 1px solid #D7D7D7;padding: 10px 0 10px 10px;}
.toolbar-btn{padding-top: 4px; padding-bottom: 1px;}
   

.dts{display: table-cell !important;}
.search-inp {width: 100%;padding: 6px 12px;color: #555;background-color: #fff;border: 1px solid #ccc;box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.search-inp:focus {border-color: #66afe9;outline: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
.search-inp::-moz-placeholder {color: #999;opacity: 1}
.search-inp:-ms-input-placeholder {color: #999}
.search-inp::-webkit-input-placeholder {color: #999}	

.seerch-div label{display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;}
.search-control{float: none;width:90%;padding-right: 0; padding-left: 0;position: relative;display: table;border-collapse: separate;}
.search-control .search-inp{font-size: 12px;border-radius: 3px;} 
.search-group-inp{width:100%;background-image:none}
.search-group-span{padding: 5px 5px 5px 10px;font-size: 12px;font-weight: 400;line-height: 10px;color: #555; text-align: center; background-color: #eee;border: 1px solid #ccc; white-space: nowrap;vertical-align: middle;}
.search-control .search-inp{position: relative;z-index: 2; float: left;width: 100%; margin-bottom: 0px;}
.search-control .search-select{height:28px;padding:0;}
.search-control .search-div{height:28px;}

    
.button, a.l-btn span.l-btn-left{background:none !important;}
a.l-btn:hover span.l-btn-left{background-color: #f7f5f5 !important;}
.tool-btn{
    margin: 0 2px !important;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.tool-btn-default{
	color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.tool-btn-default:hover:active,.tool-btn-default:active:focus{
	color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.tool-btn-default:active{ background-image: none;.color: #333;background-color: #e6e6e6; border-color: #adadad;}
.tool-btn:active {
 background-image: none;
 outline: 0;
 -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
 box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.tool-btn:hover{color: #333;background-color: #f7f5f5;border-color: #76B4AC;}
.tool-btn-xs{padding: 4px 6px;line-height: 1.5;}
.tool-btn-xs .fa{font-size: 14px !important;}
.tool-btn-xs span{font-size: 12px;}

@media screen and (min-width: 1300px) {
    .seerch-div{width:25%;float:left;}
}
@media screen and (min-width: 960px) and (max-width: 1300px) {
    .seerch-div{width:33.3333%;float:left;}
}
@media screen and (min-width: 700px) and (max-width: 960px){
    .seerch-div{width:50%;float:left;}
}
@media screen and (max-width: 700px) {
    .seerch-div{width:100%;float:left;}
}
@media screen and (max-width: 900px) {
    .datagrid .panel-body {overflow: auto !important;}
    .search-control {width: 98%;}
}
/* update-begin--Author: Yandong  Date:20180529 for：TASK #2744 【问题确认】论坛问题测试确认 */
.datagrid .panel-body{
    overflow-y: auto;
}
/* update-end--Author: Yandong  Date:20180529 for：TASK #2744 【问题确认】论坛问题测试确认 */
