@charset "utf-8";

/*********按钮区域***************/
.button-row { width : 100%; padding : 0; margin : 0; white-space : nowrap; text-align : right; }

/*********录入区域***************/
div.formDetails label input { border : 1px solid #54A5D5; padding:2px; }

div.formDetails label textarea,
select { border : 1px solid #54A5D5; padding:2px; width:157px; }

div.formDetails { background-color: #f2f7fe; border: solid 1px #5BB5FD; padding:5px; line-height:20px; visibility:visible; overflow:hidden; }

div.formDetails label {text-align: right; width:300px; display: inline-block; visibility:visible; padding:0; margin-right:10px; margin-top:5px; }

div.formDetails label span.righttext{text-align: left; width:300px; display: inline-block; visibility:visible; padding:0; margin-left:10px; margin-top:5px; }

div.formDetails label span.Validform_label{text-align: right; width:100px; display: inline-block; visibility:visible; padding:0; margin-left:10px; margin-top:5px; }

div.formDetails label.row { text-align: left; width:616px; *width:610px;
display: block; overflow:hidden; padding:0;  margin-left:15px;}

div.formDetails label.row textarea { width:442px; *width:436px;
_width:440px; overflow:auto; height:auto; }

div.formDetails label.row input { width:442px; *width:436px;
_width:440px; _height:20px; }

div.formDetails input[type="button"],
input[type="submit"],
input[type="reset"] { background-color:#39F; background-image:url(../images/tab_14.gif); color:#333 !important; font-family:"微软雅黑"; font-size:12px; padding:2px 6px !important; *padding:0 2px !important;
cursor:pointer !important; border:1px solid #D7EAFF !important; margin-right:4px !important; width:auto !important; }

input[type="file"] { background-color: #D7EAFF; border : 1px solid #54A5D5; width:auto !important; padding:2px; }

/*update---start--author：yugwu---------date：20170807---------for：TASK #2257 【样式问题】行表格线的样式没了------------*/
/*//update---start--author：scott---------date：20170630---------for：一对多列样式高度调整------------*/
input[type="text"] { background-color: #fff; border : 1px solid #54A5D5; padding:3px 2px; }
/*//update---end--author：scott---------date：20170630---------for：一对多列样式高度调整------------*/
/*update---end--author：yugwu---------date：20170807---------for：TASK #2257 【样式问题】行表格线的样式没了------------*/


/*	//update-start--Author: chenj  Date:20160815 for：TASK #1040 【UI按钮标签ace样式】列表后面的操作按钮支持按钮标签样式设置，*/
a[class="ace_button"]:hover{ color:#DDDDDD !important; text-decoration:none;}
/*update-begin--Author:xuelin  Date:20170730 for：TASK #2233 【样式问题】Shortcut 风格下，鼠标放上去的样式不好------------------- */
a.ace_button:hover{ color:#DDDDDD !important; text-decoration:none;}
/*update-end--Author:xuelin  Date:20170730 for：TASK #2233 【样式问题】Shortcut 风格下，鼠标放上去的样式不好---------------------- */
 .ace_button
 {
  background-color: #21b9bb;
  border-color: #21b9bb;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  display: inline-block;
 }
 /*	//update-end--Author: chenj  Date:20160815 for：TASK #1040 【UI按钮标签ace样式】列表后面的操作按钮支持按钮标签样式设置，*/
