.opts-menu-box .btn{
	display: inline-block;
	margin-bottom: 0;
   /*  padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143; */
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4p
} 
.opts-menu-box .btn.focus,.opts-menu-box .btn:focus,.opts-menu-box .btn:hover {
    text-decoration: none;
}
.opts-menu-box .btn-default {
   color: #07a695;
    background-color: #fff;
    border-color: #07a695;
}
.datagrid-cell.menu-active .opts-menu-parent{
	display: block;
}
div[class$='-opt'] {
	/* height: 31px !important; */
    z-index: 2;
    overflow: visible !important;
}
.datagrid-view td[field='opt'],.datagrid-btable td[field='opt'] {
    overflow: visible !important;
}
div[class$='menu-active'] {
/* 	height: 31px !important; */
    z-index: 2;
    overflow: visible !important;
}
.opts-menu-container{
	float: left;
    font-size: 12px;
    left: 35%;
    position: relative;
    top: 1px;
}

.opts-menu-container.location-left{
    top: -1px;
}
.opts-menu-parent{
	display: none;
}
.opts-menu-box{
	position: absolute;
   /*  top:2px; */
    z-index: 1000;
    background-color: #FFFFFF;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #969696;
    padding: 1px 2px 1px 6px;
}


.opts-menu-triangle{
   /*  display: inline-block;
    height: 16px;
    width: 16px;
    position: relative;
    top:45%;
    transform:translateY(-50%); */
}
.opts-menu-temp{
	display:inline-block;width:16px;height:16px;position:relative;top:5px;
}
.btnmy{
	background-color: #fff;
    border:1px solid #ccc;
    color: #333;    
    padding: 0px 7px;
        position: relative;
    top: 1px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.6;
    display: inline-block;
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
   }
.btnmy:hover,.btnmy:active,.btnmy:focus{
	 color: #333;    
}
.ops-more {
    font-size: 12px;
    padding: 1px 6px 1px 8px;
    margin: 0px 3px;
    border-radius: 3px;
    text-decoration: none; 
}

.ops-more:hover {
    background-color: #07A695;
    border-color: #068577;
    color: #fff;
    font-weight: 100;
}
.icon-triangle{
	 background: url('../../easyui/themes/icons/hotenticon.png') repeat scroll -80px 0 transparent;
	
}
.datagrid-cell.menu-active .icon-triangle{
	background: url('../../easyui/themes/icons/hotenticon.png') repeat scroll -80px -35px transparent;
	padding: 0 !important;
}