/* Main.css version 1.1
================================================== */

body {
	background: #fff;
	-webkit-font-smoothing: antialiased;
	overflow-x:	hidden;
	background: url(../images/patterns/5.png) repeat;
}


/*position elements*/
.left {float:left;}
.right {float:right;}
.center {text-align:center; width:100%; }
	.center i {float:none; display: inline;}

/*margins*/
.marginR5 {margin-right: 5px;}
.marginR10{margin-right: 10px;}
.marginT5 {margin-top:5px;}
.marginT10{margin-top:10px;}
.marginB5 {margin-bottom: 5px;}
.marginB10 {margin-bottom: 10px;}
.marginL5 {margin-left: 5px;}
.marginL10 {margin-left: 10px;}
.margin10 {margin: 10px;}

/*paddings*/
.padding15 {padding:15px;}
.padingR5 {padding-right: 5px;}
.padingR10{padding-right: 10px;}
.padingT5 {padding-top:5px;}
.padingT10{padding-top:10px;}
.padingB5 {padding-bottom: 5px;}
.padingB10 {padding-bottom: 10px;}
.padingL5 {padding-left: 5px;}
.padingL10 {padding-left: 10px;}
.padding {padding: 10px;}

div.centerContent {margin: 0;display: block;}

.strong {font-weight: 700;}

a,.btn {outline: none !important;}


/* Typography 
-------------------------------------------------- */

li {margin-bottom:7px;}
a {
  color: #3399cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}

body {
	font-family: 'Droid Sans', 
	Helvetica, Arial, sans-serif; 
	color:#353535; 
	font-size: 13px;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%; 
	font-size-adjust: 100%;
	font-weight: 400;
	/*-webkit-text-stroke: 100%;*/
}

p {
  margin: 0 0 9px;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
}
p small {
  font-size: 11px;
  color: #999999;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Signika', sans-serif;*/
  font-weight: 700;
  color: inherit;
  text-rendering: optimizelegibility;
  margin-bottom:10px;
}



h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
  font-weight: normal;
  color: #999999;
}

h1 { font-size: 30px;line-height: 45px;}
h1 small {font-size: 18px;}
h2 { font-size: 24px;line-height: 36px;}
h2 small {font-size: 18px;}
h3 {font-size: 18px;line-height: 27px;}
h3 small {font-size: 14px;}
h4,h5,h6 {line-height: 18px;}
h4 {font-size: 14px;}
h4 small {font-size: 12px;}
h5 {font-size: 12px;}
h6 {font-size: 11px;color: #999999;text-transform: uppercase;}



body, p {font-family: 'Droid Sans', Helvetica, Arial, sans-serif;}
 
/* Boostrap override (make it pretty :)
================================================== */

/*Page header*/
.page-header {
	padding-bottom: 0; 
	margin-top:9px; 
	border-color: #c4c4c4;
	-moz-box-shadow:0 1px 0px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
}

/*Tables*/
.table {position: relative;}
.table td { border-top: 1px solid #c4c4c4;}
.table thead th, .table tbody td {text-align: center;}
.table thead th:first-child, .table tbody td:first-child  {text-align: left;}

.table tr {
	-moz-box-shadow:0 1px 0px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
}

.table tbody {background-color:#fafafa;}
.table tbody + tbody {border-top: 2px solid #c4c4c4;}
.table tbody tr:last-child{border-bottom: 1px solid #c4c4c4;}
.table thead th {
  	background: rgb(255,255,255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(243,243,243,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	background: linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	-moz-box-shadow:0 1px 0px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
}

.table-bordered {
  border-color: #c4c4c4;
  border-top:1px solid transparent;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
   padding-bottom: 1px;
   border-collapse: collapse;
   margin-top:-1px;
   margin-left:-1px;
}

.table caption + thead tr:first-child th,.table caption + thead tr:first-child td,.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,.table thead:first-child tr:first-child th,.table thead:first-child tr:first-child td {
  border-top: 1px solid #c4c4c4;
}
.table-bordered th,.table-bordered td { border-left: 1px solid #c4c4c4;}
.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 2px;
          border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
}
.table-bordered thead:first-child tr:first-child th:last-child,.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 2px;
          border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
}
.table-bordered thead:last-child tr:last-child th:first-child,.table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 2px;
     -moz-border-radius: 0 0 0 2px;
          border-radius: 0 0 0 2px;
  -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
}

.table-bordered thead:last-child tr:last-child th:last-child,.table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
}

.table-striped tbody tr:nth-child(odd) td,.table-striped tbody tr:nth-child(odd) th {
  background-color: #f7f7f7;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #e8eaeb;
}

.table .ch {width: 10px;}
.noPad .table {border: 1px solid transparent;margin-bottom: -1px; margin-top:-1px;}
.box .dataTables_wrapper {margin-left: -1px;}


/*Pagination*/
.pagination {
	height: auto;
	margin: 0 0 18px 0;
}
	.pagination a {
		display: inline-block !important;
		float: left !important;
		padding: 0 14px !important;
		line-height: 28px !important;
		text-decoration: none !important;
		border: 1px solid #c4c4c4 !important;
		border-left-width: 1px !important;
		background-color: #f3f3f3 !important;
		background: rgb(255,255,255) !important;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(243,243,243,1) 100%) !important;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1))) !important;
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%) !important;
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%) !important;
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%) !important;
		background: linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%) !important;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ) !important;
		min-height: 28px !important;
		color: #717171 !important;
		box-shadow:0 1px 0 #eaeaea ,0 1px 0 #fff inset !important;
		margin-right: 4px !important;
		-webkit-border-radius: 2px 2px 2px 2px !important;
		-moz-border-radius: 2px 2px 2px 2px !important;
		border-radius: 2px 2px 2px 2px !important;
		font-weight: 700 !important;
		margin-bottom: 10px !important;
	}

	.pagination li:first-child a {
		border-left-width: 1px;
		-webkit-border-radius: 2px 2px 2px 2px;
		-moz-border-radius: 2px 2px 2px 2px;
		border-radius: 2px 2px 2px 2px;
	}
	.pagination li:last-child a {
		-webkit-border-radius: 2px 2px 2px 2px;
		-moz-border-radius: 2px 2px 2px 2px;
		border-radius: 2px 2px 2px 2px;
	}
	.pagination a span {
		margin:0;
		color: #717171;
		padding:0;
		line-height: 28px;
		background: transparent;
		border: none;
	}

	.pagination li>span {
		margin: 0px 8px 0 7px !important; 
		padding:0 5px 0 5px !important;
		float:left !important;
		display: inline-block !important;
		border:none !important;
		background: transparent !important;
		line-height: 30px !important;

	}

	.pagination .active a, .pagination .active a:hover {
		color: #f2f2f2 !important;
		box-shadow:0 1px 0 #eaeaea ,0 1px 0 #67c3da inset !important;
		border-color: #5098aa !important;
		background: #88BBC8 !important;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled='false') !important;
	}

	.pagination a:hover {
		border: 1px solid #a3a3a3 !important;
		background: #e8e6e6 !important;
	}

.pager a {
	display: inline-block;
	padding: 5px 14px;
	border: 1px solid #c4c4c4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: rgb(255,255,255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(243,243,243,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	background: linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
	color: #717171;
	box-shadow:0 1px 0 #eaeaea ,0 1px 0 #fff inset;
	margin-right: 4px;
}
.pager a:hover {
	border: 1px solid #a3a3a3;
	background: #e8e6e6;
}





#wrapper {
	height: auto;
	min-height: 100%;
	position: relative;
}

/*Content for left sidebar only*/
#content {
	padding: 67px 25px 25px 25px;
	margin-left: 213px;
	padding-top: 67px;
	min-height: 100%;
	background: url(../images/patterns/5.png) repeat;
}

/*Content for right sidebar only*/
#content-one {
	padding: 67px 25px 25px 25px;
	margin-right: 212px;
	padding-top: 67px;
	min-height: 100%;
	background: url(../images/patterns/5.png) repeat;
}

/*Content for two sidebars*/
#content-two {
	padding: 67px 25px 25px 25px;
	margin-left: 213px;
	margin-right: 212px;
	padding-top: 67px;
	min-height: 100%;
	background: url(../images/patterns/5.png) repeat;
}
.contentwrapper {
	float: left;
	width: 100%;
}




/*Widget box style*/
.box {
	width:100%;
	min-height:100%;
	-moz-box-shadow:0 1px 0px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	margin-bottom: 25px;
}
.box.hover {
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.box.plain.hover {box-shadow: none;}
	.box .title {
		height:auto;
		background: url(../images/patterns/2.png) repeat;
		position: relative;
		border:1px solid #c4c4c4;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		-moz-box-shadow:0 1px 0px rgba(255, 255, 255, 1);
		-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
		box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	}
	.box.plain .title {
		border-top: none;
		border-left: none;
		border-right: none;
		background: none;
	}
	.box.gradient .title {
		background: rgb(255,255,255);
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(243,243,243,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
		background: linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
	}
	.box .title.min {
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
	}
		.box .title h4 {
			padding-left:15px;
			margin-bottom: 0;
			padding-top: 9px;
			padding-bottom: 9px;
		}

		h4 .label {float: right; margin-right: 40px;}
		h4 .badge {float: right; margin-right: 40px;}

		.box .title span[class*=" icon-"], .box .title span[class*=" brocco-icon-"], .box .title span[class*=" cut-icon-"], 
		.box .title span[class*=" entypo-icon-"], .box .title span[class*=" icomoon-icon-"], .box .title span[class*=" minia-icon-"], 
		.box .title span[class*=" iconic-icon-"], .box .title span[class*=" meteo-icon-"], .box .title span[class*=" silk-icon-"],
		.box .title span[class*=" typ-icon-"], .box .title span[class*=" wpzoom-"], .box .title span[class*=" eco-"]
		{
			margin: 0 10px 0 0px;
		}
		.box .title .loader {
			position: absolute;
			right:40px;
			top:10px;
		}
		.box .title>a {
			position: absolute;
			right:10px;
			top:8px;
			border: 1px solid #c4c4c4;
			border-radius:2px;
			-webkit-border-radius:2px;
			-moz-border-radius:2px;
			text-decoration:none;
			color: #3f3f3f;
			/*padding: 2px 4px 0px 4px;*/
			text-indent: -9999px;
			background-color: #f3f3f3;
			width:16px;
			height:16px;
			padding:0px 2px 3px 2px;
		}
		.box .spark {
			margin-right: 40px;
			float: right;
		}
		.box .box-form {
			margin-right: 40px;
			margin-bottom: 0;
			position: relative;
		}
		.box .box-form input {
			width: 100%;
			margin-bottom: 0;
		}
		.box .box-form .dropdown-menu {top:auto; left:auto;}
		.box .box-form .btn-mini.dropdown-toggle {margin-top:-1px;}
		.box .box-form .btn span {margin-right: 0; margin-top: -8px; display: inline-block;}
		.box .box-form .btn-mini span {margin-top: 0;}
		.box .box-form .dropdown-toggle {margin-top: -4px; padding-bottom: 0;}
		.box .box-form .btn span.caret {margin-left: 2px; margin-top:7px;}
		.box .box-form .ibutton-container {	margin-top:-2px;}
		.box .title .label span, .box .title .badge span {margin-left:0; margin-right:0}
		.box .title .progress {
			width:40%;
			position: absolute;
			right:40px;
			top:8px;
		}
		.box .title .minimize {
			cursor:pointer;
			background: url(../images/icons/minus.png) no-repeat center 3px #f3f3f3;
			display: none;
		}
		.box .title .maximize {
			background: url(../images/icons/plus.png) no-repeat center 3px #f3f3f3;
			display: block;
		}
	.box .content {
		padding:10px;
		border:1px solid #c4c4c4;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		border-top: none;
		background-color: #fff;
		position: relative;
	}
	.box .content.vertical-scroll {
		width: 200px;
	}
	.box .content.noPad {
		padding: 0;
	}
	.box .content.noPad .nav-tabs {
		margin-top: -1px;
		margin-left: -1px;
		margin-right: -1px;
	}
	.box .content.noPad .tab-content {
		margin-bottom: -1px;
		margin-left: -1px;
		margin-right: -1px;
	}
	.box.boxMargin {margin-bottom: 27px;}	



