<!DOCTYPE html>
<html>  
  <head>
	<title>Online在线图标配置--编辑</title>
	<script type="text/javascript" src="plug-in/mutiLang/zh-cn.js"></script>
    <script type="text/javascript" src="plug-in/jquery/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="plug-in/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="plug-in/jquery-plugs/storage/jquery.storageapi.min.js"></script>
    <script type="text/javascript" src="plug-in/tools/dataformat.js"></script>
	<link id="easyuiTheme" rel="stylesheet" href="plug-in/easyui/themes/metrole/easyui.css" type="text/css"></link>
    <link id="easyuiTheme" rel="stylesheet" href="plug-in/easyui/themes/metrole/main.css" type="text/css"></link>
    <link id="easyuiTheme" rel="stylesheet" href="plug-in/easyui/themes/metrole/icon.css" type="text/css"></link>
    <link rel="stylesheet" type="text/css" href="plug-in/accordion/css/accordion.css">
    <link rel="stylesheet" type="text/css" href="plug-in/accordion/css/icons.css">
    <script type="text/javascript" src="plug-in/easyui/jquery.easyui.min.1.3.2.js"></script>
    <script type="text/javascript" src="plug-in/easyui/locale/zh-cn.js"></script>
    <script type="text/javascript" src="plug-in/tools/syUtil.js"></script>
    <script type="text/javascript" src="plug-in/easyui/extends/datagrid-scrollview.js"></script>
    <script type="text/javascript" src="plug-in/My97DatePicker/WdatePicker.js"></script>
    <link rel="stylesheet" href="plug-in/tools/css/metrole/common.css" type="text/css"></link>
    <link rel="stylesheet" href="plug-in/ace/css/font-awesome.css" type="text/css"></link>
    <script type="text/javascript" src="plug-in/lhgDialog/lhgdialog.min.js?skin=metrole"></script>
    <script type="text/javascript" src="plug-in/ace/js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="plug-in/tools/curdtools_zh-cn.js"></script>
    <script type="text/javascript" src="plug-in/tools/easyuiextend.js"></script>
    <script type="text/javascript" src="plug-in/jquery-plugs/hftable/jquery-hftable.js"></script>
    <script type="text/javascript" src="plug-in/tools/json2.js"></script>
	<script type="text/javascript" src="plug-in/Validform/js/Validform_v5.3.1_min_zh-cn.js"></script>
	<script type="text/javascript" src="plug-in/Validform/js/Validform_Datatype_zh-cn.js"></script>
	<script type="text/javascript" src="plug-in/Validform/js/datatype_zh-cn.js"></script>
	<script type="text/javascript" src="plug-in/Validform/plugin/passwordStrength/passwordStrength-min.js"></script>
    <link rel="stylesheet" href="plug-in/Validform/css/metrole/style.css" type="text/css" />
    <link rel="stylesheet" href="plug-in/Validform/css/metrole/tablefrom.css" type="text/css" />
	<script src="content/graphreport/jformGraphreportHead.js"></script>
  </head>
  <body>
	<form id="formobj"  name="formobj" method="post" action="jformGraphreportHeadController.do?doUpdate">
		<input type="hidden" id="btn_sub" class="btn_sub" />
		<input id="id" name="id" type="hidden" value="$!{jformGraphreportHeadPage.id}" />
		<table cellpadding="0" cellspacing="1" class="formtable">
			<tr >
                <td align="right">
					<label class="Validform_label">名称：</label>
				</td>
                <td class="value">
    		     	 <input id="name" name="name" type="text" style="width: 150px" value="$!{jformGraphreportHeadPage.name}" class="inputxt"datatype="*">
    				<span class="Validform_checktip"></span>
    				<label class="Validform_label" style="display: none;">名称</label>
    			</td>
    			<td align="right">
    				<label class="Validform_label">编码:</label>
    			</td>
    			<td class="value">
    		     	 <input id="code" name="code" type="text" style="width: 150px" value="$!{jformGraphreportHeadPage.code}" class="inputxt"datatype="*">
    				<span class="Validform_checktip"></span>
    				<label class="Validform_label" style="display: none;">编码</label>
    			</td>
            </tr>
			<tr>
    			<td align="right">
    				<label class="Validform_label">描述:</label>
    			</td>
    			<td class="value">
    				<input id="content" name="content" type="text" style="width: 150px" value="$!{jformGraphreportHeadPage.content}" class="inputxt"datatype="*">
    				<span class="Validform_checktip"></span>
    				<label class="Validform_label" style="display: none;">描述</label>
    			</td>
    			<td align="right">
    				<label class="Validform_label">y轴文字:</label>
    			</td>
    			<td class="value">
    				<input id="ytext" name="ytext" type="text" value="$!{jformGraphreportHeadPage.ytext}" style="width: 150px" class="inputxt"datatype="*">
    				<span class="Validform_checktip"></span>
    				<label class="Validform_label" style="display: none;">y轴文字</label>
    			</td>
    		</tr>
    		<tr>
    			<td align="right">
    				<label class="Validform_label">x轴数据:</label>
    			</td>
    			<td class="value">
    		     	 <input id="categories" name="categories" type="text" value="$!{jformGraphreportHeadPage.categories}" style="width: 150px" class="inputxt"datatype="*">
    				<span class="Validform_checktip"></span>
    				<label class="Validform_label" style="display: none;">x轴数据</label>
    			</td>
    			<td align="right">
    				<label class="Validform_label">是否显示明细:</label>
    			</td>
    			<td class="value">
					<select name="isShowList">
						<option value="">--请选择--</option>
						<option value="Y" #if($!jformGraphreportHeadPage.isShowList == 'Y')selected="selected"#end>是</option>
						<option value="N" #if($!jformGraphreportHeadPage.isShowList == 'N')selected="selected"#end>否</option>
                    </select>
    				<span class="Validform_checktip"></span>
    				<label class="Validform_label" style="display: none;">是否显示明细</label>
    			</td>
    		</tr>
    		<tr>
    			<td align="right">
    				<label class="Validform_label">查询数据SQL:</label>
    			</td>
    			<td class="value" colspan="3">
    				<textarea id="cgrSql" style="width:600px;height:60px;" class="inputxt" rows="4" name="cgrSql">$!{jformGraphreportHeadPage.cgrSql}</textarea>
    				<span class="Validform_checktip"></span>
    				<label class="Validform_label" style="display: none;">查询数据SQL</label>
    			</td>
    		</tr>
			<tr>
    			<td align="right">
    				<label class="Validform_label">扩展JS:</label>
    			</td>
    			<td class="value" colspan="3">
    				 <textarea id="xpageJs" style="width:600px;height:60px;" class="inputxt" rows="4" name="xpageJs">$!{jformGraphreportHeadPage.xpageJs}</textarea>
    				<span class="Validform_checktip"></span>
    				<label class="Validform_label" style="display: none;">扩展JS</label>
    			</td>
    		</tr>
        </table>
        <div style="width: auto; height: 200px;">
			<div style="width: 800px; height: 1px;"></div>
			<div id="ttp" tabPosition="top" border=flase style="margin:0px;padding:0px;overflow:hidden;width:auto;" class="easyui-tabs" fit="false">
				<div title="图表配置" href="jformGraphreportHeadVMController.do?jformGraphreportItemListVM&id=$!{jformGraphreportHeadPage.id}" style="margin:0px;padding:0px;overflow:hidden;"></div>
			</div>
		</div>
    </form>
	<table style="display: none">
		<tbody id="add_jformGraphreportItem_table_template">
		<tr>
			 <td align="center"><div style="width: 25px;" name="xh"></div></td>
			 <td align="center"><input style="width:20px;" type="checkbox" name="ck"/></td>
				  <td align="left">
					  	<input name="jformGraphreportItemList[#index#].fieldName" maxlength="36" 
					  		type="text" class="inputxt"  style="width:120px;">
					  <label class="Validform_label" style="display: none;">字段名</label>
				  </td>
				  <td align="left">
					  	<input name="jformGraphreportItemList[#index#].fieldTxt" maxlength="1000" 
					  		type="text" class="inputxt"  style="width:120px;">
					  <label class="Validform_label" style="display: none;">字段文本</label>
				  </td>
				  <td align="left">
					  	<input name="jformGraphreportItemList[#index#].orderNum" maxlength="10" 
					  		type="text" class="inputxt"  style="width:40px;">
					  <label class="Validform_label" style="display: none;">排序</label>
				  </td>
				  <td align="left">
						<select name="jformGraphreportItemList[#index#].fieldType">
							<option value="">---请选择---</option>
    						<option value="Integer">数值类型</option>
    						<option value="Date">日期类型</option>
    						<option value="String" selected="selected">字符类型</option>
    						<option value="Long">长整型</option></select>
                        </select>
					  <label class="Validform_label" style="display: none;">字段类型</label>
				  </td>
				  <td align="left">
                    <select name="jformGraphreportItemList[#index#].isShow">
                        <option value="">--请选择--</option>
						<option value="Y">显示</option>
						<option value="N">隐藏</option>
					</select>
					  <label class="Validform_label" style="display: none;">是否显示</label>
				  </td>
				  <td align="left">
						<select name="jformGraphreportItemList[#index#].searchFlag">
							 <option value="" selected="selected">---请选择--- </option>
							 <option value="Y">是 </option>
							 <option value="N">否 </option>
                        </select>
					  <label class="Validform_label" style="display: none;">是否查询</label>
				  </td>
				  <td align="left">
					<select name="jformGraphreportItemList[#index#].searchMode">
						 <option value="" selected="selected">---请选择--- </option> 
						 <option value="single">单条件查询 </option> 
						 <option value="group">范围查询 </option>
					</select>
					  <label class="Validform_label" style="display: none;">查询模式</label>
				  </td>
				  <td align="left">
					  	<input name="jformGraphreportItemList[#index#].dictCode" maxlength="500" 
					  		type="text" class="inputxt"  style="width:120px;">
					  <label class="Validform_label" style="display: none;">字典Code</label>
				  </td>
				  <td align="left">
					  <select name="jformGraphreportItemList[#index#].isGraph">
							 <option value="" selected="selected">---请选择--- </option>
							 <option value="Y">是 </option> 
							 <option value="N">否 </option>
					  </select>
					  <label class="Validform_label" style="display: none;">显示图表</label>
				  </td>
				  <td align="left">
					 <select name="jformGraphreportItemList[#index#].graphType">
						 <option value="" selected="selected">---请选择--- </option> 
						 <option value="spline">曲线图 </option>
						 <option value="column">柱状图 </option>
						 <option value="pie">饼图 </option>
					 </select>
					  <label class="Validform_label" style="display: none;">图表类型</label>
				  </td>
				  <td align="left">
					  	<input name="jformGraphreportItemList[#index#].graphName" maxlength="100" 
					  		type="text" class="inputxt"  style="width:120px;">
					  <label class="Validform_label" style="display: none;">图表名称</label>
				  </td>
				  <td align="left">
					  	<input name="jformGraphreportItemList[#index#].tabName" maxlength="50" 
					  		type="text" class="inputxt"  style="width:120px;">
					  <label class="Validform_label" style="display: none;">标签名称</label>
				  </td>
			</tr>
		 </tbody>
	</table>
  </body>
</html>