<!DOCTYPE html>
<html>
  <head>
    <title>Online在线图表配置--Excel导入</title>
    <script type="text/javascript" src="plug-in/mutiLang/zh-cn.js"></script>
    <script type="text/javascript" src="plug-in/jquery/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="plug-in/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="plug-in/jquery-plugs/storage/jquery.storageapi.min.js"></script>
    <script type="text/javascript" src="plug-in/tools/dataformat.js"></script>
    <link id="easyuiTheme" rel="stylesheet" href="plug-in/easyui/themes/metrole/easyui.css" type="text/css"></link>
    <link id="easyuiTheme" rel="stylesheet" href="plug-in/easyui/themes/metrole/main.css" type="text/css"></link>
    <link id="easyuiTheme" rel="stylesheet" href="plug-in/easyui/themes/metrole/icon.css" type="text/css"></link>
    <link rel="stylesheet" type="text/css" href="plug-in/accordion/css/accordion.css">
    <link rel="stylesheet" type="text/css" href="plug-in/accordion/css/icons.css">
    <script type="text/javascript" src="plug-in/easyui/jquery.easyui.min.1.3.2.js"></script>
    <script type="text/javascript" src="plug-in/easyui/locale/zh-cn.js"></script>
    <script type="text/javascript" src="plug-in/tools/syUtil.js"></script>
    <script type="text/javascript" src="plug-in/easyui/extends/datagrid-scrollview.js"></script>
    <link rel="stylesheet" href="plug-in/tools/css/metrole/common.css" type="text/css"></link>
    <link rel="stylesheet" href="plug-in/ace/css/font-awesome.css" type="text/css"></link>
    <script type="text/javascript" src="plug-in/lhgDialog/lhgdialog.min.js?skin=metrole"></script>
    <script type="text/javascript" src="plug-in/ace/js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="plug-in/tools/curdtools_zh-cn.js"></script>
    <script type="text/javascript" src="plug-in/tools/easyuiextend.js"></script>
    <script type="text/javascript" src="plug-in/jquery-plugs/hftable/jquery-hftable.js"></script>
    <script type="text/javascript" src="plug-in/tools/json2.js"></script>
	  <link rel="stylesheet" href="plug-in/uploadify/css/uploadify.css" type="text/css"></link>
  </head>
  
  <body style="overflow-y: hidden" scroll="no">
    <div id="content">
      <div id="wrapper">
        <div id="steps">
          <form id="formobj" action="null" name="formobj" method="post">
            <input type="hidden" id="btn_sub" class="btn_sub" />
            <fieldset class="step">
              <div class="form">
                <span id="file_uploadspan">
                  <input type="file" name="fiels" id="file_upload" /></span>
              </div>
              <div class="form" id="filediv" style="height: 50px"></div>
            </fieldset>
            <link rel="stylesheet" href="plug-in/Validform/css/metrole/divfrom.css" type="text/css" />
            <link rel="stylesheet" href="plug-in/Validform/css/metrole/style.css" type="text/css" />
            <link rel="stylesheet" href="plug-in/Validform/css/metrole/tablefrom.css" type="text/css" />
            <script type="text/javascript" src="plug-in/Validform/js/Validform_v5.3.1_min_zh-cn.js"></script>
            <script type="text/javascript" src="plug-in/Validform/js/Validform_Datatype_zh-cn.js"></script>
            <script type="text/javascript" src="plug-in/Validform/js/datatype_zh-cn.js"></script>
			<script type="text/javascript" src="plug-in/uploadify/jquery.uploadify-3.1.js"></script>
                <script type="text/javascript" src="plug-in/tools/Map.js"></script>
                <script type="text/javascript">
				var flag = false;
                  var fileitem = "";
                  var fileKey = "";
                  var serverMsg = "";
                  var m = new Map();
                  jQuery(function() {
                   jQuery('#file_upload').uploadify({
                      buttonText: '选择要导入的文件',
                      auto: false,
                      progressData: 'speed',
                      multi: true,
                      height: 25,
                      overrideEvents: ['onDialogClose'],
                      fileTypeDesc: '文件格式:',
                      queueID: 'filediv',
                      fileTypeExts: '*.xls;*.xlsx',
                      fileSizeLimit: '15MB',
                      swf: 'plug-in/uploadify/uploadify.swf',
                      uploader: 'jformGraphreportHeadController.do?importExcel',
                      onUploadStart: function(file) {
                        var formobj = jQuery('#formobj').val();
                        jQuery('#file_upload').uploadify("settings", "formData", {
                          'formobj': formobj
                        });
                      },
                      onQueueComplete: function(queueData) {
                        var win = frameElement.api.opener;
                        win.reloadTable();
                        win.tip(serverMsg);
                        frameElement.api.close();
                      },
                      onUploadSuccess: function(file, data, response) {
                        var d = JSON.parseJSON(data);
                        if (d.success) {
                          var win = frameElement.api.opener;
                          serverMsg = d.msg;
                        }
                      },
                      onFallback: function() {
                        tip("您未安装FLASH控件，无法上传图片！请安装FLASH控件后再试")
                      },
                      onSelectError: function(file, errorCode, errorMsg) {
                        switch (errorCode) {
                        case - 100 : tip("上传的文件数量已经超出系统限制的" + jQuery('#file_upload').uploadify('settings', 'queueSizeLimit') + "个文件！");
                          break;
                        case - 110 : tip("文件 [" + file.name + "] 大小超出系统限制的" + jQuery('#file_upload').uploadify('settings', 'fileSizeLimit') + "大小！");
                          break;
                        case - 120 : tip("文件 [" + file.name + "] 大小异常！");
                          break;
                        case - 130 : tip("文件 [" + file.name + "] 类型不正确！");
                          break;
                        }
                      },
                      onUploadProgress: function(file, bytesUploaded, bytesTotal, totalBytesUploaded, totalBytesTotal) {}
                    });
                  });
                  function upload() {
                    jQuery('#file_upload').uploadify('upload', '*');
                    return flag;
                  }
                  function cancel() {
                    jQuery('#file_upload').uploadify('cancel', '*');
                  }
				  </script>
            <script type="text/javascript">
			jQuery(function() {
                jQuery("#formobj").Validform({
                  tiptype: 4,
                  btnSubmit: "#btn_sub",
                  btnReset: "#btn_reset",
                  ajaxPost: true,
                  beforeSubmit: function(curform) {
                    var tag = false;
                    return upload(curform);
                  },
                  callback: function(data) {
                    var win = frameElement.api.opener;
                    if (data.success == true) {
                      frameElement.api.close();
                      win.tip(data.msg);
                    } else {
                      if (data.responseText == '' || data.responseText == undefined) {
                        jQuery.messager.alert('错误', data.msg);
                        jQuery.Hidemsg();
                      } else {
                        try {
                          var emsg = data.responseText.substring(data.responseText.indexOf('错误描述'), data.responseText.indexOf('错误信息'));
                          jQuery.messager.alert('错误', emsg);
                          jQuery.Hidemsg();
                        } catch(ex) {
                         jQuery.messager.alert('错误', data.responseText + "");
                          jQuery.Hidemsg();
                        }
                      }
                      return false;
                    }
                    win.reloadTable();
                  }
                });
              });
			  </script>
          </form>
        </div>
      </div>
    </div>
  </body>

</html>