@charset "utf-8";

/*********按钮区域***************/
.button-row { width : 100%; padding : 0; margin : 0; white-space : nowrap; text-align : right; }

/*********录入区域***************/
div.formDetails label input { border : 1px solid #54A5D5; padding:2px; }

div.formDetails label textarea,
/* update-begin--Author:scott  Date:20180626 for：select下拉背景图美化-------------------- */
select {border : 1px solid #D7D7D7;  width:120px; border-radius: 3px;padding: 5px;
background: url("select-bj.png") no-repeat scroll right center transparent;
-webkit-appearance: none;
 /*update-begin--Author:scott  Date:20180628 for：列表查询区域，自定义下拉高度--- */
height: 26px;
 /*update-end--Author:scott  Date:20180628 for：列表查询区域，自定义下拉高度--- */
}
/* update-end--Author:scott  Date:20180626 for：select下拉背景图美化-------------------- */
  
option{color: #000;}
/*update-end--Author:scott  Date:20180605 for：下拉值颜色修改--------------------*/

/*update-end--Author:scott  Date:20171121 for：下拉框默认长度改成120px--------------------*/
/*update-begin--Author:xuelin  Date:20171116 for：TASK #2417 【样式】表单选中效果样式 1，下拉 2，文本框--------------------*/
select:focus {border : 1px solid #76B4AC !important;outline:none !important;}
textarea:focus {border : 1px solid #76B4AC !important;outline:none !important;}
/*update-begin--Author:xuelin  Date:20171116 for：TASK #2417 【样式】表单选中效果样式 1，下拉 2，文本框--------------------*/
div.formDetails { background-color: #f2f7fe; border: solid 1px #5BB5FD; padding:5px; line-height:20px; visibility:visible; overflow:hidden; }

div.formDetails label {text-align: right; width:300px; display: inline-block; visibility:visible; padding:0; margin-right:10px; margin-top:5px; }

div.formDetails label span.righttext{text-align: left; width:300px; display: inline-block; visibility:visible; padding:0; margin-left:10px; margin-top:5px; }

div.formDetails label span.Validform_label{text-align: right; width:100px; display: inline-block; visibility:visible; padding:0; margin-left:10px; margin-top:5px; }

div.formDetails label.row { text-align: left; width:616px; *width:610px;
display: block; overflow:hidden; padding:0;  margin-left:15px;}

div.formDetails label.row textarea { width:442px; *width:436px;
_width:440px; overflow:auto; height:auto; }

div.formDetails label.row input { width:442px; *width:436px;
_width:440px; _height:20px; }

div.formDetails input[type="button"],
input[type="submit"],
input[type="reset"] { background-color:#39F; background-image:url(../images/tab_14.gif); color:#333 !important; font-family:"微软雅黑"; font-size:12px; padding:2px 6px !important; *padding:0 2px !important;
cursor:pointer !important; border:1px solid #D7EAFF !important; margin-right:4px !important; width:auto !important; }

input[type="file"] { background-color: #D7EAFF; border : 1px solid #54A5D5; width:auto !important; padding:2px; }

input[type="text"] { 
	background-color: #fff; 
	/*border : 1px solid #54A5D5;
	padding:2px;  */
	
	border: 1px solid #D7D7D7;
	border-radius: 3PX;
	/*height: 14PX;*/
	/*update-start--Author: scott  Date:20170609 for：特殊bpm表单页面输入框高度变形问题处理 */
	height: 26px;
	/*update-end--Author: scott  Date:20170609 for：特殊bpm表单页面输入框高度变形问题处理 */
	/* padding: 7px 0 7px 5px; */
	padding:  0 2px ;
	line-height: 14PX;
	font-size: 12px;
	display: inline-block;
}
/*update-start--Author: scott  Date:20171110 for：输入框选中边框变绿色效果 */
input[type="text"]:focus {
	 border-color: #76B4AC;
     background-color: #fafafa;
     color: #007465;
}
select:focus {
	 border-color: #76B4AC;
     background-color: #fafafa;
     color: #007465;
}

/*update-begin--Author:taoyan  Date:20180604 for：bootstrap-table操作列按钮需添加一个手势样式-- */
a.ace_button{text-decoration:none;cursor: pointer;}
/*update-end--Author:taoyan  Date:20180604 for：bootstrap-table操作列按钮需添加一个手势样式-- */
/*update-start--Author: scott  Date:20171110 for：输入框选中边框变绿色效果 */
/*	//update-start--Author: chenj  Date:20160815 for：TASK #1040 【UI按钮标签ace样式】列表后面的操作按钮支持按钮标签样式设置，*/
a[class="ace_button"]:hover{ color:#DDDDDD !important; text-decoration:none;}
/*update-begin--Author:xuelin  Date:20170730 for：TASK #2233 【样式问题】Shortcut 风格下，鼠标放上去的样式不好------------------- */
a.ace_button:hover{ color:#DDDDDD !important; text-decoration:none;}
/*update-end--Author:xuelin  Date:20170730 for：TASK #2233 【样式问题】Shortcut 风格下，鼠标放上去的样式不好---------------------- */
/*update-begin--Author:xuelin  Date:20170613 for：TASK #2100 【列表样式美化】【样式专题】Jeecg平台任务 ---4列表页面，按钮和列表的字体 参考jqgrid-------------------- */
 .ace_button
 {
  background-color: #21b9bb;
  border-color: #21b9bb;
  color: #FFFFFF;
  border-radius: 3px;
  /*update-begin--Author:xuelin  Date:20170603 for：TASK #2042 【UI美化】Jeecg button样式，参考p3插件风格优化改进-------------------- */
  padding: 2px 6px;
  /*update-end--Author:xuelin  Date:20170603 for：TASK #2042 【UI美化】Jeecg button样式，参考p3插件风格优化改进---------------------- */
  font-size: 12px;
  line-height: 1.5;
  display: inline-block;
  font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
 }
/*update-end--Author:xuelin  Date:20170613 for：TASK #2100 【列表样式美化】【样式专题】Jeecg平台任务 ---4列表页面，按钮和列表的字体 参考jqgrid---------------------- */
/*	//update-end--Author: chenj  Date:20160815 for：TASK #1040 【UI按钮标签ace样式】列表后面的操作按钮支持按钮标签样式设置，*/

/*update-begin--Author:zhoujf  Date:20180713 for：TASK #2955 【样式功能】抽到开源里面，写个文档，供大家使用-------------------- */
.groupinput{
	float:left;
}
.groupspan{
	float:left;
	display:table-cell;
	background-color:#f3f3f3;
	white-space:nowrap;
	padding:4px 10px;
	border: 0.25px solid #D7D7D7;
	margin-left: -2px;
}
/*update-end--Author:zhoujf  Date:20180713 for：TASK #2955 【样式功能】抽到开源里面，写个文档，供大家使用-------------------- */