<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
## update--begin--author:zhangjiaqiang date:20170524 for:美化p3列表页面的按钮
<link rel="stylesheet" href="$!{basePath}/plug-in-ui/hplus/css/font-awesome.css"/>
## update--end--author:zhangjiaqiang date:20170524 for:美化p3列表页面的按钮
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
				## update--begin--author:zhangjiaqiang date:20170524 for:美化按钮图表
				<button type="button" class="btn btn-primary" id="formSubmit"><span class="fa fa-save"></span> 保存</button>
				<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/demo/jeecgP3demo.do?list')"><span class="fa fa-arrow-circle-left"></span> 返回</button>
				## update--end--author:zhangjiaqiang date:20170524 for:美化按钮图表
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" id="dailogForm" action="$!{basePath}/demo/jeecgP3demo.do?doEdit" method="POST">
						<input type="hidden" id="btn_sub" class="btn_sub" />
						<input type="hidden" value="$!{jeecgP3demo.id}" name="id" id="id" />
								<div class="form-group mno">
								    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">姓名</label>
								    <div class="col-sm-8">
								    	<input type="text" value="$!{jeecgP3demo.name}" name="name" id="name" class="form-control" datatype="*" />
								    </div>
								</div>
								<div class="form-group mno">
								    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">性别</label>
								    <div class="col-sm-8">
										#selectDictTag("sex","sex","$jeecgP3demo.sex")
									</div>
								</div>
								<div class="form-group mno">
								    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">年龄</label>
								    <div class="col-sm-8">
								    	<input type="text" value="$!{jeecgP3demo.age}" name="age" id="age" class="form-control" datatype="*" />
								    </div>
								</div>
								<div class="form-group mno">
								    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">地址</label>
								    <div class="col-sm-8">
								    	<input type="text" value="$!{jeecgP3demo.address}" name="address" id="address" class="form-control" datatype="*" />
								    </div>
								</div>
								<div class="form-group mno">
								    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">电话</label>
								    <div class="col-sm-8">
								    	<input type="text" value="$!{jeecgP3demo.phone}" name="phone" id="phone" class="form-control" datatype="*" />
								    </div>
								</div>
								<div class="form-group mno">
								    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">备注</label>
								    <div class="col-sm-8">
										#*update-begin--Author:dangzhenghui  Date:20170521 for：p3demo修改*#
										<textarea type="text" name="memo" id="memo" class="form-control" datatype="*" >$!{jeecgP3demo.memo}</textarea>
										#*update-begin--Author:dangzhenghui  Date:20170521 for：p3demo修改*#
									</div>
								</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/forminit.p3.js"></script>  