<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">详情</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<fieldset disabled>
																		<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">姓名</label>
												<div class="col-sm-2">
													<input type="text" value="$!{jeecgP3demo.name}" name="name" id="name" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">性别</label>
												<div class="col-sm-2">
													<input type="text" value="$!{jeecgP3demo.sex}" name="sex" id="sex" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">年龄</label>
												<div class="col-sm-2">
													<input type="text" value="$!{jeecgP3demo.age}" name="age" id="age" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">地址</label>
												<div class="col-sm-2">
													<input type="text" value="$!{jeecgP3demo.address}" name="address" id="address" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">电话</label>
												<div class="col-sm-2">
													<input type="text" value="$!{jeecgP3demo.phone}" name="phone" id="phone" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">备注</label>
												<div class="col-sm-2">
													<input type="text" value="$!{jeecgP3demo.memo}" name="memo" id="memo" class="form-control" />
												</div>
											</div>
						</fieldset>
						<div class="form-group mno">
							<div class="col-sm-offset-1 col-sm-6">
								## update--begin--author:zhangjiaqiang date:20170524 for:美化p3列表页面的按钮
								<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/demo/jeecgP3demo.do?list')"><i class="fa fa-arrow-circle-left"></i> 返回</button>
								## update--end--author:zhangjiaqiang date:20170524 for:美化p3列表页面的按钮
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>